.App {
  text-align: center;
}
/* articles-section */
.article-card-container {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  border: solid black;
  border-radius: 25px;
  min-height: 25rem;
  min-width: 25rem;
  margin-bottom: 2rem;
}
.article-card-img {
  width: 10rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.article-card-img-container {
  border: solid black;
}

@media screen and (min-width: 600px) {
  .articles-list {
    display: flex;
    flex-wrap: wrap;
  }
}
/* end of articles-section */
